<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Generator</title>
</head>
<body style="margin: 30px 10px;">
<h1 th:text="${data}"></h1>

<form id="form" th:object="${dbConfig}">
    <div th:if="${#fields.hasErrors('*')}">
        <ul>
            <li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
        </ul>
    </div>
    <!-- 隐藏step -->
    <input id="step" type="hidden" th:field="*{step}"/>

    <!-- 填写数据库信息 -->
    <div th:if="${dbConfig.step >= 0}" id="v0" style="display: block;">
        <!-- 红色标题 -->
        <h3 id="step1" style="color: red;">步骤1: 填写数据库信息</h3>
        <!-- JdbcUrl -->
        <label for="jdbcUrl">地  址</label>
        <input id="jdbcTemplate" th:value="*{jdbcUrl}" type="hidden"></input>
        <input id="jdbcUrl" th:field="*{jdbcUrl}" placeholder="jdbcUrl" style="width: 100%;" required></input>
        <!-- driverClassName -->
        <br><label for="driverClassName">驱  动</label>
        <input id="driverClassName" th:field="*{driverClassName}" placeholder="driverClassName" style="width: 100%;" required></input>
        <br>
        <!-- 用户名 -->
        <br><label for="username">用  户</label>
        <input id="username" th:field="*{username}" placeholder="username"  style="width: 100%;" required></input>
        <!-- 密码 -->
        <br><label for="password">密  码</label>
        <input id="password" th:field="*{password}" placeholder="password"  style="width: 100%;" required></input>
    </div>


    <div th:if="${dbConfig.step >= 0}" id="v1" style="display: none;">
        <h3 id="step2">步骤2: 选择数据库</h3>
        <!-- 选择数据库 -->
        <label for="database">数据库</label>
        <select id="database" th:field="*{database}" onchange="updateUrlDb()" style="width: 100%;">
            <option th:each="db : ${databases}" th:value="${db}" th:text="${db}"></option>
        </select>

    </div>


    <div th:if="${dbConfig.step >= 0}" id="v2" style="display: none;">
        <h3 id="step3">步骤3: 选择表</h3>
        <!-- 选择表 -->
        <label for="tableNames">表</label>
        <select id="tableNames" multiple style="width: 100%; height: 400px;">
            <option th:each="table : ${tablesInfos}" th:value="${table.name}" th:text="${table.comment}"></option>
        </select>
    </div>


    <div th:if="${dbConfig.step >= 0}" id="v3" style="display: none;">
        <h3 id="step4">步骤4: 生成配置</h3>
        <!-- 表前缀（,分隔） -->
        <label for="tablePrefix">表前缀</label>
        <input id="tablePrefix" th:field="*{tablePrefix}" placeholder="表前缀" style="width: 100%;" required></input>
        <!-- 父包名 -->
        <br><label for="parent">父包名</label>
        <input id="parent" th:field="*{parent}" placeholder="父包名" style="width: 100%;" required></input>
        <!-- 模块名 -->
        <br><label for="moduleName">模块名</label>
        <input id="moduleName" th:field="*{moduleName}" placeholder="模块名" style="width: 100%;"></input>
        <!-- 作者 -->
        <br><label for="author">作者</label>
        <input id="author" th:field="*{author}" placeholder="作者" style="width: 100%;" required></input>
    </div>


    <br>

    <!-- 第三步：确认信息 -->
    <div th:if="${dbConfig.step >= 0}">
        <button id="submitButton" type="submit">测试连接</button>
    </div>
</form>

<!-- 使用CDN来引入jQuery，降低XSS风险，同时加快jQuery库的加载速度 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function updateStep(step) {
        // 更新step的值
        $('#step').val(step);
    }

    const optionTemplate = (value, text) => `<option value="${value}">${text}</option>`;

    function updateUrlDb() {
        var select = document.getElementById('database');
        var jdbcInput = document.getElementById('jdbcUrl');
        var selectedDb = select.value;

        // 获取原始URL
        var originalUrl = document.getElementById('jdbcTemplate').value; // $('#jdbcTemplate').value;

        // 构建新的JDBC URL
        jdbcInput.value = originalUrl.replaceAll("generatorDb",  selectedDb);
    }

    function updateDatabaseOptions(databases) {
        $('#database')
            .empty()
            .append(databases.map(db => $(optionTemplate(db, db))));
    }

    function updateTableOptions(tableInfos) {
        $('#tableNames')
            .empty()
            .append(tableInfos.map(table => $(optionTemplate(table.name, table.comment))))
            .attr('multiple', true);
    }

    $(function () {
        const form = $('#form');
        const stepInput = $('#step'); // 获取step输入框

        form.submit(function (e) {
            e.preventDefault();

            const step = parseInt(stepInput.val(), 10);
            const formDataObj = {
                ...serializeFormData(form),
                tableNames: $('#tableNames').val()
            }
            const formDataJson = JSON.stringify(formDataObj);
            console.log(formDataJson)

            let apiUrl;
            switch (step) {
                case 0:
                    apiUrl = '/api/databases';
                    break;
                case 1:
                    const dbSelected = $('#database').val();
                    if ("-- 请选择数据库 --"==dbSelected) {
                        alert("请先选择数据库");
                        return;
                    }
                    apiUrl = '/api/tables';
                    break;
                case 2:
                    const tabSelected = $('#tableNames').val()
                    if (""==tabSelected) {
                        alert("请先选择表格");
                        return;
                    }
                    $('#v2').hide();
                    $('#v3').show();
                    updateStep(3);

                    $('#submitButton').text('生成代码');
                    $('#step4').css('color', 'red');

                    return;
                // 添加其他case，或者默认情况
                default:
                    apiUrl = '/api/generate'; // 如果没有匹配的step，使用默认接口
            }

            $.ajax({
                url: apiUrl,
                type: "POST",
                contentType: "application/json",
                data: formDataJson,
                success: function (data) {
                    console.log(data);
                    if (data.code === 0) {
                        updateStep(data.data.step);
                        if (data.data.step === 1) {
                            updateDatabaseOptions(data.data.databases);
                            // 修改按钮文本
                            $('#submitButton').text('下一步：查询该数据库的表');
                            // 步骤二标题改为红色
                            $('#step2').css('color', 'red');
                            alert('连接成功！请选择数据库！');
                        } else if (data.data.step === 2) {
                            updateTableOptions(data.data.tableInfos);
                            // 修改按钮文本
                            $('#submitButton').text('下一步：修改生成配置');
                            // 步骤三标题改为红色
                            $('#step3').css('color', 'red');
                            alert('请选择表，并填写生成配置！');
                        } else {
                            $('#submitButton').text('生成代码');
                            $('#step4').css('color', 'red');
                            alert('生成代码成功！');
                        }
                        viewDiv(data.data.step);
                        console.log('success');
                    } else {
                        alert(data.msg);
                        console.warn('fail', data.msg);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Ajax request failed:', textStatus, ':', errorThrown);
                }
            });
        });
    });

    // 其他函数保持不变

    // 将表单数据转换为对象
    function serializeFormData(form) {
        const formDataObj = {};
        form.serializeArray().forEach(item => formDataObj[item.name] = item.value);
        return formDataObj;
    }

    function viewDiv(step){
        $('#v0').hide();
        $('#v1').hide();
        $('#v2').hide();
        $('#v3').hide();
        $('#v' + step).show();
    }
</script>
</body>
</html>